/* html, body {
    overflow-y:visible;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    /*position: fixed;*/
    /* right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
} */
@media (min-width:800px){
  .zip-container{
    padding-left: 80px;
  }
}
